/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

html p {
  font-size: 9px;
}

h1 {
  font-size: 16px;
  font-style: bold;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

figcaption {
  font-size: 10px;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
  margin: 20px 25px 0px 25px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 20px 5px 20px;
  text-align: left;
  font-size: 17px;
}

header {
  border: solid 2px white;
}

.site-header {
  background-image: url (../c);
  border: 2px solid white;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px 20px 0 20px;
  padding-bottom: 40px;
  color: white;
}

main  {
  padding: 20px;
  border-radius: 0;
  background-color: white;
}

img {
  max-width: 100%;
  margin: auto;
  display: block;
  height: auto;
  box-shadow: 2px 2px 2px grey;
}
button {
  background-color: #444444;
  border: none;
  padding: 5 px 10px;
}
.card {
  background-color: mediumspringgreen;
  margin: 10px;
  padding: 5px 5px 5px 5px;
}


.bgGreen {
  background-color: #00fca6;
}

.bgWhite {
  background-color: white;
}

.colorGreen {
  color: #00fca6;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.item {
  padding: 30px 25px;
  background-color: white;
}

.itembgGreenopacityblack {
  background-image: url(../img/code.jpg);
}

footer {
  text-align: center;
  padding: 5px 5px;
  font-size: 10px;
  margin-top: 5px;
  border-width: 2px; 
  border-style: solid; 
  border-color: #00fca6;
  color: white;
}

article {
  background-color: white;
margin: 2px;
padding: 10px;
}

figcaption {
  font-size: 7.5px;
  text-align: center;
}

a href {
  font-size: 7px;
  background: grey;
}

